/*
.carousel_style {
    display: block;
    border-style: solid;
    border-color: black;
    width: 50%;
    height: 50%;
}

.img_size {
    width: 300 px;
}
*/

@import url("https://fonts.googleapis.com/css?family=Roboto"); 
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.carousel {
    overflow: hidden; 
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    white-space: nowrap;
    transition: fransform 0.3s; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.carousel_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.carousel_img {
    width: 60vw;
}

.carousel_item_text {
    font-family: "Roboto";
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material_symbols_outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.carousel_buttons {
    display: flex;
    justify-content: space-evenly;
}

.button_arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.indicators {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator_buttons {
    border: none;
    cursor: pointer;
}

.indicators > button {
    margin: 5px;
    background: none;
}

.indicator_symbol {
    color: #262626;
}

.indicator_symbol_active {
    color: white;
}
