.section_divide {
   /* divides each pair of gifs in localhost*/
   margin-bottom: 40px;
}

.localhost_style {
   display: block;
   margin-left: 15vw;
   margin-right: auto;
   width: 90%;
   margin-bottom: 15px;
   box-shadow: 0px 0px 10px 3px rgba(98, 102, 137, 0.6);
}

.gif_container {
   display: flex;
   width: 99.5%;
   max-width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
   margin-bottom: 5px;
   gap: 10px;
}

.index_gif_container {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}


.bp {
   width: 49.5%;
   /*margin-left: 17%;*/
   /*margin-bottom: 5px;*/
}

@media (max-width: 1024px) {
   .bp {
      width: 100%;
   }
}

.full_gif {
   width: 100%;
   margin-top: 5px;
   margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
   .localhost_style {
      width: 100vw;
      margin: 0px;
   }
}
