.page {
  background-color: rgb(222, 255, 222);
}

.title {
  font-family: "-apple-system, Roboto, sans-serif, serif";
  color: salmon;
}

.half_size {
  transform: scale(0.5);
}


@media only screen and (max-width: 700px) {
  .index_img {
    width: 20vw;
  }
}