.page {
  background-color: rgb(222, 255, 222);
}

.half_size {
  transform: scale(0.5);
}

.img25 {
  cursor: pointer;
  width: 100%;
  height: 100%;
  /*rgba(230, 235, 255, 0.705);*/
  box-shadow: 0px 0px 7px 7px rgba(251, 255, 230, 0.705);
}

.img25_off {
  width: 100%;
  height: 100%;
  /* filter: saturate(10%) contrast(77%) brightness(86%) 
    invert(100%) sepia(20%) hue-rotate(185deg) blur(5px); */
  filter: saturate(10%) contrast(77%) brightness(80%) 
  invert(100%) blur(5px); 
}

.text_descriptions {
  font-style: italic;
  margin-top: 3px;
}

.text_on_img {
  position: absolute;
  /*color: rgb(64, 0, 255);*/
  color: rgb(255, 86, 67);
  background-color: radial-gradient(white, rgba(255,255,255,0));
  z-index: 2;
  font-family: "Inter Tight", sans-serif;
}

.text_on_img_hide {
  display: none;
}


@media only screen and (max-width: 700px) {
  .index_img {
    width: 20vw;
  }

  .text_img_container {
    width: 25%;
    height: auto;
    position: relative;
  }

  .text_on_img {
    margin-left: 8%;
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    font-weight: 400;
    font-size: 14px;
  }
  
}

@media only screen and (min-width: 700px) {
  .text_img_container {
    width: 14.28%; /*16.66%;*/
    height: auto;
    position: relative;
  }
  
  .text_on_img {
    margin-left: 4%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    font-weight: 400;
    font-size: 15px;
  }
  

  .img25_block {
    width: 16.66%;
    height: auto;
    background-color: white;
    z-index: 2;

  }
}