html {
   scroll-behavior: smooth;
   margin: 0px;
}

body {
   margin: 0px;
   /*background-color:rgb(238, 239, 249); /*light blue*/
   background-color: rgb(243, 243, 243); /*light gray*/
   /*background-color: white;*/
}

.base_layout {
   display: flex;
   flex-direction: row;
}

.content_layout {
   /*border: solid;
   border-color: rgb(255, 140, 125);*/
   height: 100%;
   /*margin: 10px;*/
   /*width: 100%;  */
   margin-left: 24.35vw;
   /*
   grid-column-start: 2;
   grid-column-end: 3;
   */
   /*display: flex;*/
   /*flex-direction: column;*/
   /*flex-wrap: wrap;*/
}

/*
.nav_layout {
   grid-column-start: 1;
   grid-column-end: 2;
}
*/

@media only screen and (max-width: 700px) {
   .base_layout {
      flex-direction: column;
   }

   .content_layout {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-top: 25vh;
   }

   .header_footer_space {
      display: none;
   }

}

