p {
   /*color:rgb(27, 36, 96);*/
   color: rgb(111, 111, 111);
   line-height: 19.5px;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 15px;
}


.nav {
   scroll-behavior: smooth;
   height: 99vh;
   width: 23vw;
   min-width: 23vw;
   /*background-color: rgb(238, 239, 249); /*light blue*/
   background-color: rgb(243, 243, 243); /*light gray*/
   /*background-color: white;*/
   padding-top: 10px;
   padding-left: 15px;
   padding-right: 15px;
   overflow-y: scroll;
   resize: horizontal;
   position: fixed;
   z-index: 50;
   /*border-right: .5px solid rgba(91, 97, 142, 0.2);*/
   /*border: solid .25px rgba(91, 97, 142, 0.2);*/
   box-shadow: -8px 0px 18px rgba(91, 97, 142, 0.7) inset;
   /*
   border-right-width: 2px;
   border-image: linear-gradient(45deg, rgb(104, 104, 106), rgb(238, 239, 249)) 1;
   */
}

.site_title {
   font-family: "Inria Serif", serif;
   font-size: 21px;
   line-height: 37px;
   font-weight: 400;
}

.bio {
   border-bottom: 1px solid rgba(91, 97, 142, 0.4);
}

.bio_paragraph {
   display: inline-block;
}

.bio_trigger {
   cursor: pointer;
}

.show_extra_bio {
   display: block;
}

.works_list {
   line-height: 25px;
}

.works_list br {
   display: block;
   content: "";
   margin-top: 15px;
}

ul {
   list-style: none;
   padding-left: 0;
}

.work_item {
   display: none;
}

.show {
   display: block;
   /*background-image: radial-gradient(rgba(202, 209, 255, 0.6) 2%, rgba(255,255,255,0) 80%);*/
   border-bottom: 1px solid rgba(91, 97, 142, 0.4);
   margin-bottom: 15px;
}


.select_title { 
   border-top: 1px solid rgba(91, 97, 142, 0.35);
   margin-top: 10px;
   padding-top: 10px;
}

a {
   text-decoration: none;
   /* color:salmon; */
   color: 	#95a473;
   font-family: "Inria Serif", serif;
   font-weight: 400;
   font-size: 15.5px;
   /*text-decoration: underline;*/
   line-height: 15px;
}

a:hover {
   /*color: rgb(236, 80, 33);*/
   color: salmon;
}

.select_title a {
   /*color: rgb(245, 90, 23);*/
   color: rgb(255, 105, 88);
   font-weight: 600;
}

.description {
   margin-top: 2px;
   margin-left: 2px;
   margin-bottom: 1em;
}

.medium {
   margin-top: 4px;
   margin-bottom: 0px;
   margin-left: 2px;
   font-style: italic;
}

.year {
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 2px;
   font-style: italic;
}

.github_link {
   font-style: italic;
   display: block;
}

.sub_caption {
   /*
   color: rgb(141, 149, 239); */
   color: rgb(255, 158, 129);
   /* text-decoration: underline; */
}

@media only screen and (max-width: 500px) {
   .nav {
      width: 92vw;
      height: 30vh;
   }
}


@media only screen and (max-width: 700px) {
   .nav {
      width: 94vw;
      height: 25vh;
   }

   p {
      font-size: 14px;
      line-height: 20px;
   }

   .bio_trigger {
      display: none;
   }

   .bio_trigger_mobile {
      display: inline-block;
      cursor: pointer;
   }

   .work_item_mobile {
      display: none;
   }
}

@media only screen and (min-width: 700px) {
   .bio_trigger {
      display: inline-block;
   }

   .bio_trigger_mobile {
      display: none;
   }

   ::-webkit-scrollbar {
      width: 11px;
      /*(background-color:rgb(238, 239, 249);*/
      background-color: rgb(242, 238, 238);
   }

   ::-webkit-scrollbar-track {
      background: radial-gradient(rgb(240, 238, 238) 30%, rgb(255, 241, 232) 100%);
      border: solid 1.25px rgba(91, 97, 142, 0.2);
   }
   
   ::-webkit-scrollbar-thumb {
      /*background: radial-gradient(rgb(240, 241, 249) 40%, rgba(91, 97, 142, 0.3) 100%);*/
      background: radial-gradient(rgb(252, 252, 240) 30%, rgba(91, 97, 142, 0.4) 100%);
      border-radius: 5px;
   }
}