.in_page_subtitle {
    font-family: "Inria Serif", serif;
    margin-left: 1.25vw;
    margin-right: 1.25vw;
    line-height: 18px;
    font-weight: 400;
    font-size: 33px;
    margin-bottom: 10px;
}

.in_page_text {
    margin-top: 0px;
}

.memento_narrative {
    color: rgb(238, 239, 249);
}

.memento_subtitle {
    position: absolute;
    bottom: 0;
    left: 10px;
    margin: 0px;
    color:rgba(56, 60, 96, 0.563);
 }

 .img_caption {
    margin-top: 5px;
    font-size: 13px;
 }


 @media only screen and (min-width: 700px) {
    .in_page_textbox {
        max-width: 59vw;
    }
    .text_box_h50 {
        display: block;
        max-width: 48.5%;
        margin-left: auto;
        margin-right: auto;
    }
    .two_col_text {
        column-count: 2;
        column-gap: 15px;
        margin-left: 1.25vw;
        margin-right: 1.25vw;
        padding-top: 0px;
    }
 }

 @media only screen and (max-width: 700px) {
    .in_page_subtitle {
        line-height: 31px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .in_page_text {
        margin-left: 15px;
        margin-right: 15px;
    }
    .text_box_h50 {
        margin-left: 5px;
        margin-right: 5px;
    }
    .two_col_text {
        column-count: 1;
    }
    .img_caption {
        margin-left: 7px;
        margin-right: 7px;
    }
 }