.video_frame {
   /*border-style: solid;
   border-color: blueviolet;*/
   width: 75vw;
   height: 75vh;
   position: relative;
   padding: 0px;
   margin: 0px;
}

iframe {
   height: 100%;
   width: 100%;
}

@media only screen and (max-width: 700px) {
   .video_frame {
      width: 100vw;
      height: 30vh;
   }
}
