.web_frame {
   width: 75vw;
   height: 78vh;
}

.web_style {
   height: 100%;
   width: 100%;
}

@media only screen and (max-width: 600px) {
   .web_frame {
      width: 100vw;
      height: 30vh;
   }
}
